.IndexBanner_Text_Div {
    max-width: 610px;
}

.BannerIMG {
    position: relative;
    height: 350px;
    width: 820px;
}

/* Feature Images */
.FeatureImage {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
}
.FeaturesContainer {
    margin-top: 10px;
    margin-bottom: 50px;
}
.FeatureIcon {
    width: 15px;
    height: 15px;
}

.LandingBanner {
    background-image: url(https://d11wkw82a69pyn.cloudfront.net/siteassets/5g-smart-cities/sm-page.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px; 
    color: white; 
    justify-content: center;
    align-items: center;
    display: flex;
}


@media only screen and (max-width: 678px) {
    .BannerIMG {
        height: 300px;
    }
    .FeaturesContainer {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .FeatureImage {
        height: 300px;
    }
}